//- META INFORMATION
- const page_title = 'vue'
- const relativePath = '.'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keywords'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'home'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = true
- const isSwiper = false
- const isBootstrap = false
- const isPolyfill = true
- const vue = true

doctype html
html(lang="ja")
    head
        //- HEAD
        include ./_inc/_head.pug


    body.topPage#top
        //- HEADER
        //- include ./_inc/_siteHeader.pug

        //- MAIN CONTENT
        main.siteContent(role="main")
            #app
        //- FOOTER
        include ./_inc/_siteFooter.pug
